<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
</head>
<body>
<div layout:fragment="content">
<h1>Hello in our Library!</h1>
    <div>
        <a th:href="@{/book/list}">
            <button type="button" class="btn btn-primary pull-left" style="background-color: #6796F2"><i class="fa fa-book" aria-hidden="true"></i> List of Books</button>
        </a>
    </div>
    <div>
        <a th:href="@{/category/list}">
            <button type="button" class="btn btn-primary pull-left" style="background-color: #6796F2"><i class="fa fa-bookmark" aria-hidden="true"></i> List of Categories</button>
        </a>
    </div>
    <div sec:authorize="hasAuthority('LIBRARIAN')">
        <a  th:href="@{/security/users}">
            <button type="button" class="btn btn-primary pull-left" style="background-color: #6796F2"><i class="fa fa-bookmark" aria-hidden="true"></i> List of Users</button>
        </a>
    </div>
    </br>
    </br>
    </br>
    <div class="left">
        <a th:href="@{/login?logout}">
            <button type="button" class="btn btn-primary fa-align-left" style="background-color: #131314"></i> Logout</button>
        </a>
    </div>
</div>
</body>
</html>

