<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <title>List of Books</title>
</head>
<body>
<section layout:fragment="header">
    <h1>List of Books</h1>
    <ol class="breadcrumb">
        <li><a href="/library"><i class="fa fa-dashboard"></i> Library</a></li>
        <li class="active">List of Books</li>
    </ol>
</section>
<div layout:fragment="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                    <div class="box-footer center">
                        <div sec:authorize="hasAuthority('LIBRARIAN')">
                            <a th:href="@{/book/add}">
                            <button type="button" class="btn btn-primary pull-right" style="background-color: #6796F2"><i class="fa fa-plus"></i> Add new</button>
                        </a></div>
                        <form class="search" th:action="@{/book/list}" th:object="${book}" method="get">
                        <div class="input-group ">
                            <input type="search" name="keyword" class="form-inline" placeholder="Search">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        </form>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Success!</h4>
                            Information saved successfully.
                        </div>
                    </div>
                    <div th:if="${param.deleted}">
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Deleted!</h4>
                            Information deleted successfully.
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example1_info">
                                    <thead class="thead">
                                    <tr>
                                        <th>Book ID</th>
                                        <th>Category</th>
                                        <th>Name</th>
                                        <th>Author</th>
                                        <th>Description</th>
                                        <th sec:authorize="hasAuthority('LIBRARIAN')">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="book : ${listBooks}">
                                        <td th:text="${book.id}">Book ID</td>
                                        <td th:each="category : ${categories}"
                                            th:if="(${category} == ${book.category})"
                                            th:text="${category.name}">Category
                                        </td>
                                        <td th:text="${book.name}">Name</td>
                                        <td th:text="${book.author}">Author</td>
                                        <td th:text="${book.description}">Description</td>
                                        <td>
                                            <a sec:authorize="hasAuthority('LIBRARIAN')" href="#" style="background-color: #6796F2" class="btn btn-primary btn-xs purple editView" title="Edit" th:href="@{'/book/edit/' + ${book.id}}"><i class="fa fa-edit"></i> Edit</a>
                                            <a sec:authorize="hasAuthority('LIBRARIAN')" href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete" th:href="@{'/book/delete/' + ${book.id}}"><i class="fa fa-trash-o"></i> Delete</a>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                <a th:href="@{/library}">
                    <button type="button" class="btn btn-primary pull-left" style="background-color: #6796F2"><i class="fa fa-arrow-left"></i> Back</button>
                </a>

            </div>

        </div>

    </div>
</div>
</body>

</html>
